*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  color: var(--main-color);
}

body{
  font-size: 2.4rem;
  background-color: var(--background-color);
}

:root{
  --background-color: #1b1b21;
  --main-color: #FF7200;
}

/*-----------Home Grid---------*/
.home--grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". . titel titel titel . ."
    ". . titel titel titel . ."
    ". uitleg uitleg uitleg uitleg uitleg ."
    ". uitleg uitleg uitleg uitleg uitleg ."
    ". . . . . . ."
    ". . . arrow . . ."
    ". . . audio--image . . ."
    ". . . audio--toggle . . ."
    "footer footer footer footer footer footer footer";
}

.title {
  grid-area: titel;
  font-size: 150%;
  text-align: center;
}

.uitleg { grid-area: uitleg; }

.footer { grid-area: footer; }

.audio--toggle {
  grid-area: audio--toggle;
  text-align: center;
}

.audio--image {
  grid-area: audio--image;
}

.arrow {
  grid-area: arrow;
  text-align: center;
}


/*---------Arrow-------------*/
a.btn{
    height:50px;
    line-height:50px;
    vertical-align:middle;
    text-align:center;
    padding:0 10px;
    color: var(--main-color);
    background-color: var(--background-color);
    position:relative;
    display:inline-block;
}
a.btn:after{
    position:absolute;
    right:-20px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent var(--main-color);
}
a.btn:hover{
    background-color:red;
}
a.btn:hover:after{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent var(--main-color);
}

/*-------Audio Image----------*/
.audio--image > figure > img{
  max-width: 100%;
}
/*---------Audio Button--------*/
.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
  transition: all 0.3s;
}

.switch::after{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after{
  left: 20px;
}

.checkbox:checked + .switch{
  background-color: lightblue;
}

.checkbox{
  display: none;
}


/*------------------Grid--hubpagina-------------*/
.grid--hubpagina {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  gap: 30px 30px;
  height: 100vh;
  grid-template-areas:
    ". . . . ."
    ". fragment--1 fragment--2 fragment--3 ."
    ". fragment--4 fragment--5 fragment--6 ."
    ". fragment--7 fragment--8 fragment--9 ."
    ". . . . .";
}

.fragment--1 { grid-area: fragment--1; }

.fragment--2 { grid-area: fragment--2; }

.fragment--3 { grid-area: fragment--3; }

.fragment--4 { grid-area: fragment--4; }

.fragment--5 { grid-area: fragment--5; }

.fragment--6 { grid-area: fragment--6; }

.fragment--7 { grid-area: fragment--7; }

.fragment--8 { grid-area: fragment--8; }

.fragment--9 { grid-area: fragment--9; }


.grid--hubpagina > div {
  text-align: center;
}

.grid--hubpagina > div > a > img {
  max-width: 22vw;
  max-height: 22vh;
}
/*----Footer----*/
footer{
  position: absolute;
  bottom: 0;
  display: inline-block;
  float: left;
}


/*-------------Media Querries-----------*/
@media only screen and (min-width: 800px) {
  /*---------Audio Button-------------*/
  .switch{
    width: 80px;
    height: 40px;
    border-radius: 20px;
  }

  .switch::after{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
  }

  .checkbox:checked + .switch::after{
    left: 40px;
  }
}
